USE [trivia]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 10/21/2025 2:53:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[QuestionId] [int] NOT NULL,
	[CorrectChoiceIndex] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 10/21/2025 2:53:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](255) NOT NULL,
	[ChoicesJSON] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Answers] ([QuestionId], [CorrectChoiceIndex]) VALUES (1, 0)
INSERT [dbo].[Answers] ([QuestionId], [CorrectChoiceIndex]) VALUES (2, 1)
INSERT [dbo].[Answers] ([QuestionId], [CorrectChoiceIndex]) VALUES (3, 0)
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [Text], [ChoicesJSON], [Active]) VALUES (1, N'What color is the sky on a clear day?', N'["Blue","Green","Red","Yellow"]', 1)
INSERT [dbo].[Questions] ([Id], [Text], [ChoicesJSON], [Active]) VALUES (2, N'2 + 2 = ?', N'["3","4","5","22"]', 1)
INSERT [dbo].[Questions] ([Id], [Text], [ChoicesJSON], [Active]) VALUES (3, N'Largest ocean?', N'["Pacific","Atlantic","Indian","Arctic"]', 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
